body {
  text-decoration: none;
}

.CategoryBox {
  background-color: #e5f8dc;
  padding: 20px 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  border: none;
  cursor: pointer;

  color: black;
}

.hidden {
  display: none;
}
