.CircleButton {
    cursor: pointer;

    display: inline-flex;

    position: absolute;
    bottom: 50%;
    left: 45%;
}

.CircleButton > a > ion-icon {
    color: rgb(15, 190, 98);
    font-size: 50px;
}
