.MainHeader {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-family: Pretendard;
}

.header-title {
    margin: auto;
    font-size: 1.1rem;
}

.MainHeader > .right_icon > img {
}

.right_icon {
    display: flex;
    align-items: center;
}

.right_icon ion-icon {
    margin-top: 2px;
    font-size: 23px;
    color: #000;
}

.left_icon {
    display: flex;
    align-items: center;
}
