.MainHeader {
  display: flex;
  align-items: center;

  margin-top: 5%;

  font-family: Pretendard;
}

.house_info {
  margin: auto;
}

.MainHeader > .right_icon > img {
}

.right_icon {
  margin-top: 2%;
  font-size: 32px;
}

.left_icon {
  display: flex;
  align-items: center;
}
