.Home {
  padding: 30px;
  margin-bottom: 20%;

  overflow: hidden;
}

.group_boxes {
  display: flex;

  /*부모요소의 패딩을 무시하고 꽉채운 후, 원하는 대로 패딩 추가*/
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: 30px;

  overflow: scroll;
}

.date_boxes {
  display: flex;
  justify-content: space-between;
}

.todo_list_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: relative;
}

.groupAddBox {
  width: 100%;
  padding: 0 40%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #bdbdbd;
  color: white;
  font-size: 4rem;
  font-weight: 300;
  border-radius: 20px;
}
