body {
  overflow: hidden;
  background-image: url(https://github.com/yohan11/N-bbang-housework/assets/40304565/3ff09106-76fa-4670-b475-29550a9519f3);
  background-repeat: no-repeat;
  background-size: 100% auto;

  font-family: Pretendard;
}

.loginButtons {
  padding-right: 24px;
  padding-left: 24px;
  position: absolute;
  bottom: 30px;
}
