.DateBox {
  border-radius: 8px;

  width: 10%;
  padding: 1% 0;

  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.dateNum {
  border-radius: 50%;

  height: 30px;
  width: 30px;
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
