.NoticeBox {
  display: flex;
  align-items: center;

  background: rgb(98 107 112 / 90%);
  border-radius: 10px;

  padding: 20px 30px;
  margin-left: 2.5%;

  position: fixed;
  bottom: 15vh;

  width: 85%;
}

.notice_subtxt {
  margin-top: 5px;
}
