.TodoWorkBox {
  width: 100%;
  height: 100%;

  padding: 20px;
  margin-bottom: 20px;

  position: relative;

  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: -1px 6px 10px rgba(143, 143, 143, 0.2);
}

.check_icon {
  background-color: #dadada;
  border-radius: 50%;
  padding: 10px;
}

.todo_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo_avatars {
  position: absolute;
  left: 80%;
}

.modal_img,
.modal_sub_img {
  background-color: #0fbe62;
  width: 100%;
}

.modal_img {
  padding-top: 15%;
}

.modal_buttons {
  display: flex;

  text-align: center;
  justify-content: space-evenly;
}
